/* Tailwind CSS Directives */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

@theme {
  --color-black: #252627;
  --color-peach: #FFCAB1;
  --color-whiter: #FFF5E9;
  --color-lightgreen: #A1C084;
  --color-green: #659157;
  --color-blue: #69A2B0;
  --color-gray: #564E58;
  --color-red: #E05263;
  --color-olive: #BFB48F;
}

.chicle-regular {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
}

/* Custom global styles */
@layer base {
  body {
    @apply bg-gradient-to-t from-lightgreen to-black text-black;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  a {
    @apply text-black hover:text-lightgreen;
  }

  footer {
    @apply text-center py-4 shadow-[0_50vh_0_50vh_rgba(0,0,0,0.3)];
  }
}